<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Message submitted</h3> 


    <script type="text/javascript">
      alert("Message submitted");
    </script>

  </body>
</html>
