<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>



<script>
if(confirm("Message submitted")){
  window.location = "/";
} else {
    window.location="/";
  }
  </script>


</body>

</html>
